#frist{
    border: 5px;
        border-color: blue;
        border-style: solid;
        padding: 30px;
}
.second{
    color:rgb(252, 180, 84);
    font-size:20px;
    margin-left: 10px;
}



#two{
    border: 5px;
        border-color: #FFF085;
        border-style: solid;
        padding: 20px;
}
#list{
color:red
}

img{
    width :150px;
}
nav{
text-align: center;
}

nav a{
    color: black;
    text-decoration:none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

nav a:hover{
    color:red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: rgb(111, 185, 255) solid 5px;
    border-radius: 8px;
}

#photo
    {
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
        padding: 15px;
    }


